/* ParticleComponent.css */

/* Global Reset */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Container for particles and image */
.container {
    position: relative;
    width: 100%;
   
    overflow: hidden;
    
    align-items: center;
    justify-content: center;
}

/* Particles */
.particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Background Image */
.image-container {
    margin-bottom: 1rem; /* Add some space between image and text */
  }
  
  .image {
    max-width: 30%; /* Adjust the size of the image */
  }
  

/* Content */
.content {
    .content {
        position: relative;
        z-index: 1;
        text-align: center;
        margin: 2rem auto; /* Add top margin */
        max-width: 800px; /* Adjust the max-width as needed */
    }
}

.firstText {
    
    font-size: 3rem;
    font-weight: 600;
    margin: 5rem 4rem;
    text-align: center;
}

.listing-text {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* Buttons */
.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.btn-item {
    margin: 10px;
}

.btn {
    background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%);
    padding: 10px 25px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-image 0.3s ease-in-out;
    margin:4px ;
}

.btn:hover {
    background-image: linear-gradient(to right, #46bdf4 0%, #2b56f5 100%);
}

/* White papers section */
.white-papers {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 2rem;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    color:aliceblue;
}
/* YourComponent.css */

/* Optional: Set a minimum height to ensure the animation effect is visible */
.animate__fadeInUp {
    min-height: 100px;
  }
  
/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .firstText {
        font-size: 2rem;
    }

    .listing-text {
        font-size: 1.2rem;
    }

    .btn {
        padding: 8px 20px;
        font-size: 0.9rem;
    }

    .white-papers {
        font-size: 1.2rem;
    }
}
